.block-table {
  overflow: auto;
}
.block-table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  font-size: 0.96em;
  box-sizing: border-box;
}
.block-table th,
.block-table td {
  text-align: left;
  padding: 8px;
}
.block-table td {
  vertical-align: top;
}
.block-table tr {
  border-bottom: 1px solid var(--yue-c-tr);
}
.block-table thead tr {
  border-width: 2px;
}
.block-table tbody tr:last-child {
  border-bottom: 0;
}
.block-table thead th:first-child,
.block-table tbody td:first-child {
  padding-left: 0;
}
.block-table thead th:last-child,
.block-table tbody td:last-child {
  padding-right: 0;
}

.block-html {
  margin-bottom: 1.5em;
  overflow: auto;
}

.yue .footnotes {
  font-size: 80%;
  line-height: 1.32;
  opacity: 0.96;
}

.yue .footnotes:before {
  content: '';
  display: block;
  border-top: 4px solid var(--yue-c-divider);
  width: 50%;
  max-width: 100px;
  margin: 40px 0 20px;
}

.yue li.task-item {
  list-style-type: none;
}
.yue .task-item input[type="checkbox"] {
  margin: 0 0.3em 0.4em -1em;
  vertical-align: middle;
}

.block-code {
  position: relative;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  --radius: 6px;
  --margin: 1rem;
}

.block-code::after {
  position: absolute;
  content: attr(data-language);
  top: 0.4rem;
  right: 0.5rem;
  font-size: 10px;
  font-weight: 600;
  font-family: var(--yue-f-mono);
  color: var(--syntax-text);
  opacity: 0.6;
}

.block-code .math {
  overflow: auto;
}

.block-code > pre,
.highlight > pre {
  margin: 0;
  overflow: auto;
  color: var(--syntax-text);
  background-color: var(--syntax-pre-bg);
}
.block-code > pre {
  padding: 1em 1.2em;
}
.highlight > pre {
  padding: 1.4em 0 1.3em;
}
.highlight > pre > code {
  display: inline-block;
  min-width: 100%;
}
.highlight > pre .line {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.highlight-table {
  overflow: hidden;
}
table.highlight {
  margin: 0;
  border-radius: 0;
  border-collapse: collapse;
  width: 100%;
}
table.highlight tr {
  border: 0;
}
table.highlight td {
  padding: 0 0.8rem;
  border: 0;
}
table.highlight td[data-line] {
  text-align: right;
  width: 1px;
  padding: 0 0.5rem;
  box-shadow: -.05rem 0 var(--syntax-cap-bg) inset;
}
table.highlight td[data-line]:before {
  content: attr(data-line);
  opacity: 0.5;
}
.highlight-table > pre {
  padding: 0.8rem 0;
  background-color: var(--syntax-pre-bg);
  border-radius: var(--radius);
}
.highlight-table table.highlight tr {
  background-color: transparent;
}
.code-head {
  background-color: var(--syntax-cap-bg);
  padding: .4rem var(--margin);
  border-radius: var(--radius) var(--radius) 0 0;
}
.code-head pre {
  margin: 0;
  border: 0;
  font-size: .84rem;
  font-weight: 600;
  color: var(--syntax-text);
  font-family: var(--yue-f-text);
}
.code-head + .highlight > pre,
.code-head + .highlight-table > pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.highlight-table pre {
  margin: 0;
  overflow: auto;
}
